/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.livros {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  gap: 16px;
}

.livro {
  padding: 8px;
  border-radius: 4px;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.25);
  width: 300px;
}

.livro > header {
  font-weight: 900;
  font-size: large;
  text-align: center;
}
